
 .div-0{
  text-align: center;
  margin: 1.5rem;
  font-size:25px;
}
.div-1 {
    margin-bottom: rem;
}

.div-2 {
  width:100%;
  margin:.5rem;
  text-align: center;
}

.div-3 {
  width:100%;
  margin:.5rem;
  text-align: center;
  
  } 

.button{
  margin-top: .5rem;
  
}

.link{
  color:pink;
}

.width100{
  width:100%;
}

.container{
  margin: 5em;

}
